#pragma once

#include <QtCore/QObject>

%NAMESPACE_BEGIN%
class %CLASS_NAME% : public QObject
{
    Q_OBJECT

public:
    %CLASS_NAME%(QObject *parent = 0);

public:
};

%NAMESPACE_END% // namespace
